<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>

                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >File Name</th>
                    <th align='left' >Profile Picture</th>


              </tr>
                </thead>
                <tbody>

                  <td style='width: 200; text-align: center'>2</td>
                     <td style='width: 200; text-align: center'>tttt</td>
                     <td style='width: 200; text-align: center'>148618675616179771_1689149891111579_8393453934653083457_o.jpg</td>
                     <td style='padding-left: 3%'><img src='UploadedFiles/148618675616179771_1689149891111579_8393453934653083457_o.jpg' style="width:64px;height:64px;" /></td>


                </tbody>
            </table>

